<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stock Reporting</title>
</head>
<body style="background-color: black; color: green">
		<pre style="white-space: pre-wrap; overflow: auto; height:600px; width:1600px" >
			<h2><pre style="white-space: pre-wrap;" th:utext="${loadTime}">${loadTime}</pre></h2>
			<h2><pre style="white-space: pre-wrap;" th:utext="${queryTime}">${queryTime}</pre></h2>
			<h4><pre style="white-space: pre-wrap;" th:utext="${systemInfo}">${systemInfo}</pre></h4>
		</pre>
</body>
</html>