<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stock Reporting</title>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/stockReporting.js}"></script>
</head>
<body style="background-color: black; color: green">
		<h3>
			<pre style="white-space: pre-wrap; overflow: auto; height:600px; width:1400px" th:utext="${stockReporting}">${stockReporting}</pre>
		</h3>
	<form id="stockReporting" th:action="@{/stockReporting}" method="POST">
		<input type="hidden" id="sortingOption" name="sortingOption"
			value="Amount" />
	</form>
	<form id="stockFilteredReporting" th:action="@{/stockFilteredReporting}"
		method="POST">
		<input type="hidden" id="searchKey" name="searchKey" value="ANY" /> <input
			type="hidden" id="searchType" name="searchType" value="tid" />
	</form>
</body>
</html>